/* 
    Document   : style
    Created on : 4.8.2012, 16:22:05
    Author     : Sano Fužir
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    font-family: arial;
    font-size: 16px;
    width: 1000px;
}
#content {
    padding: 50px;
    margin: -530px 0px 0px 27%;
}
#profile {
    font-size: .9em;
}
#profile td {
    padding-left: 10px; 
}
#links {
    padding-top: 20px;
}
#links li {
    padding-top: 5px;
}
.sponsors {
    margin: 30px;
    float: left;
}
.sponsors img {
    width: 100px;
    padding-top: 10px;
}
#contacts {
    margin-top: 20px;
}
#contacts li {
   padding-top: 10px;
}
#ads a:link, #ads a:visited {
    float: left;
    margin-left: 30px;
}
#ads img {
    width: 200px;
    margin-top: -5px;
}
#ads ul {
    list-style-type: none;
}
#ads li {
    padding: 10px;
}
#ads span {
    font-size: 1.3em;
    padding-left: 3px;
}
#ads_h2 {
    margin-left: 30px;
    color: #0088cc;
}
.podatki {
    font-size: 1.2em;
    color: #0480be;
}
#view-content-form {
     margin-top: -50px;
     width: 400px;
     font-size: 1.1em;
}
.ads_add {
    font-size: 1.4em;
}
#user_ads {
    margin-top: 40px;
    color: #0088cc;
}
.list {
    font-size: 1.1em;
    color: #0088cc;
}
#list {
    margin-top: 50px;
    margin-left: 10px;
    list-style-type: none;
    font-size: 1.1em;
    background-color: #CBE0FB;
}
#list td {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#list img {
    width: 200px;
}