/* 
    Document   : style
    Created on : 4.8.2012, 16:22:05
    Author     : Sano Fužir
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    font-family: arial;
    font-size: 16px;
    width: 1000px;
}
#content {
    padding: 50px;
    margin: -650px 0px 0px 27%;
}
#profile {
    font-size: .9em;
}
#profile td {
    padding-left: 10px; 
}
#links {
    padding-top: 20px;
}
#links li {
    padding-top: 5px;
}
.sponsors {
    margin: 30px;
    float: left;
}
.sponsors img {
    width: 100px;
    padding-top: 10px;
}
#contacts {
    margin-top: 20px;
}
#contacts li {
   padding-top: 10px;
}
#ads a:link, #ads a:visited {
    float: left;
    margin-left: 30px;
}
#ads img {
    width: 25px;
    margin-top: -5px;
}
#ads span {
    font-size: 1.3em;
    padding-left: 3px;
}
#ads_h2 {
    margin-top: 50px;
    margin-left: 30px;
    color: #0088cc;
}
#view-content-form {
     margin-top: -50px;
     width: 400px;
     font-size: 1.1em;
}